<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>非模块化方式使用layui</title>
  <link rel="stylesheet" th:href="@{/static/plugs/layui/css/layui.css}">
  <style type="text/css">
    .container{
    height:100%;
    width:100%;
    
    }
    
    .header{
    height: 30px;
    background-color: gray;
    }
  
  .content{
  background-color: gray;
  }
  
   .footer{
   height: 30px;
    background-color: gray;
   
   }
   
   .item{
    background-color: white;
    width:98%;
    height:200px;
    margin: 3px 3px;
   }
  </style>
</head>
<body class="layui-layout-body">

<div class="container">

<div class="header">LOGO</div>
<div class="content">
   <div class="layui-row">
     <div class="layui-col-xs12 layui-col-md3">
	      <div id="main"  class="item"></div>
    </div>
    <div class="layui-col-xs12 layui-col-md3">
	       <div id="main2"  class="item"></div>
    </div>
    <div class="layui-col-xs12 layui-col-md3">
	       <div id="main3"  class="item"></div>
    </div>
    <div class="layui-col-xs12 layui-col-md3">
	       <div id="main4"  class="item"></div>
    </div>
   </div>
  

</div>
<div class="footer"></div>

</div>




<script th:src="@{/static/plugs/layui/layui.all.js}"></script>
<script th:src="@{/static/plugs/echarts/echarts.js}"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
//由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
;!function(){
  var layer = layui.layer
  ,form = layui.form;
  
  layer.msg('Hello World');
  
  
  
}();
</script> 

<script type="text/javascript">

//基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
var myChart2 = echarts.init(document.getElementById('main2'));
var myChart3 = echarts.init(document.getElementById('main3'));
var myChart4 = echarts.init(document.getElementById('main4'));

// 指定图表的配置项和数据
var option = {
    title: {
        text: '订单状态'
    },
    tooltip: {},
    legend: {data:['行数']},
    xAxis: {
        data: ['下单','拣货中','完成','wx']
    },
    yAxis: {},
    series: [{
        name: '行数',
        type: 'bar',
        data: [[${types}]]
    }]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
myChart2.setOption(option);
myChart3.setOption(option);
myChart4.setOption(option);

</script>

</body>
</html>